.m-header {
    .m-header-searchbar {
        // height: 157px;
        padding: 20px 20px;
        background: #fff;
        align-items: start;
        box-sizing: border-box;
        .left {
            width: 280px;
            padding-top: 15px;
            padding-bottom: 30px;
            img {
                width: 126px;
                height: 46px;
                margin-left: -20px;
                margin-top: -10px;
            }
        }
        .center {
            flex: 1;
            width: auto;
            margin-left: 20px;
            margin-top: 5px;
            .wrapper {
                margin-top: 5px;
                border: 1px solid #e5e5e5;
                border-radius: 4px;
                width: 552px;
                box-sizing: border-box;
                position: relative;
                white-space: nowrap;
                .el-input {
                    width: 462px;
                }
                input {
                    border: none;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .el-button {
                    background: #ffc300;
                    font-size: 16px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    vertical-align: -1px;
                    outline: none;
                    width: 14.55%;
                    box-sizing: border-box;
                    line-height: 100%;
                    height: 100%;
                    border: none;
                    float: right;
                    color: #222222;
                    cursor: pointer;
                    i {
                        font-weight: bold;
                    }
                }
                .hotPlace,
                .searchList {
                    position: absolute;
                    top: 41px;
                    left: 0;
                    background: #fff;
                    padding: 10px;
                    font-size: 12px;
                    width: 462px;
                    box-sizing: border-box;
                    border: 1px solid #e5e5e5;
                    border-top: none;
                    z-index: 999;
                    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    dt {
                        color: #999;
                        font-weight: bold;
                    }
                    dd {
                        display: inline-block;
                        color: #666;
                        margin-right: 10px;
                        margin-bottom: 3px;
                        margin-top: 5px;
                        cursor: pointer;
                        &:hover {
                            background: #f8f8f8;
                            color: #31bbac;
                        }
                    }
                    &.searchList {
                        padding: 0;
                        margin: 0;
                        dd {
                            margin: 0;
                            padding: 3px 10px;
                            display: block;
                            line-height: 1.6;
                        }
                    }
                }
            }
            .suggest {
                width: 552px;
                overflow: hidden;
                padding-left: 16px;
                line-height: 1;
                margin-top: 8px;
                height: 14px;
                a {
                    color: #999;
                    margin-right: 10px;
                    margin-bottom: 3px;
                    display: inline-block;
                    font-size: 12px;
                    &:hover {
                        color: #31bbac;
                    }
                }
            }
            .nav {
                list-style: none;
                display: flex;
                margin-top: 25px;
                li {
                    font-weight: 700;
                    font-size: 16px;
                    margin: 0 20px;
                    cursor: pointer;
                    position: relative;
                    &:first-child {
                        margin-left: 0;
                    }
                    a {
                        color: #222;
                        &:hover {
                            color: #f04d4e;
                        }
                        &.takeout:hover {
                            color: #fbc700;
                        }
                        &.apartment:hover {
                            color: #fdc411;
                        }
                        &.business:hover {
                            color: #31bbac;
                        }
                    }
                }
            }
        }
        .right {
            text-align: right;
            padding-top: 15px;
            .security {
                li {
                    display: inline-block;
                    text-align: center;
                    padding: 0 5px;
                }
                i {
                    font-style: normal;
                    &:after {
                        font-family: iconfont;
                        font-size: 36px;
                        color: #13d1be;
                    }
                }
                .refund {
                    &:after {
                        content: "\e65f";
                    }
                }
                .single {
                    &:after {
                        content: "\e652";
                    }
                }
                .overdue {
                    &:after {
                        content: "\e65e";
                    }
                }
                .txt {
                    color: #999;
                    font-size: 12px;
                    line-height: 1;
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}